BOT_TOKEN=
COBALT_API_URL=https://cobalt.nomli-com.ru/
COBALT_API_KEY=
PROXY_URL=http://172.18.0.1:8888
REQUEST_TIMEOUT=30s
DOWNLOAD_TIMEOUT=10m
MAX_UPLOAD_BYTES=50331648
MAX_CONCURRENT_JOBS=2
COBALT_VIDEO_QUALITY=720
