[Unit]
Description=Cobalt Telegram Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/cobalt-telegram-bot
EnvironmentFile=/etc/cobalt-telegram-bot.env
ExecStart=/opt/cobalt-telegram-bot/cobalt-telegram-bot
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
